# Settings for the kitty terminal emulator
# See: https://sw.kovidgoyal.net/kitty/conf/
include ./theme.conf
background_opacity         0.9
confirm_os_window_close 0
dynamic_background_opacity yes
wayland_titlebar_color {{ kitty_titlebar_color }}
font_family {{ kitty_font }}
font_size {{ kitty_font_size }}
